@page
@model web_app_test.Pages.Medicos.ListModel
@{
}
<h2>Medicos</h2>
@if (TempData["PostMessage"] != null) 
{ 
    <div class="alert">
        @TempData["PostMessage"]
    </div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>DataNascimento</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medico in Model.Medicos)
        {
        <tr>
            <td>@medico.Id</td>
            <td>@medico.Nome</td>
            <td>@medico.DataNascimento</td>
            <td>@medico.Ativo</td>
            <td><a asp-page="./Edit" asp-route-medicoId="@medico.Id">Editar</a></td>
        </tr>
        }   
    </tbody>
</table>
<a asp-page="./Edit" class="btn btn-primary">Adicionar Medico</a>